# Klucze są opcjonalne. Bez nich aplikacja działa na mapach darmowych.
# Mapy.com: https://developer.mapy.com
PUBLIC_MAPY_KEY=
# MapTiler: https://cloud.maptiler.com
PUBLIC_MAPTILER_KEY=
# OpenRouteService (routing po szlakach): https://openrouteservice.org
PUBLIC_ORS_KEY=
